{% extends 'base.html' %}

{% block content %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Save</button>

    </form>

   <form method="post">
        {% csrf_token %}
       <button formaction="{% url 'teachers:delete' teacher.id %}" type="submit" >Delete</button>
   </form>

{% if teacher.groups.all %}
    <p>Groups of this this teacher:</p>
    <table border="1px">
        <tr>
          <th>ID</th>
          <th>Group name</th>
          <th>Group specialization</th>
          <th>🖉</th>
        </tr>
        {% for group in teacher.groups.all %}
            <tr>
              <td> {{ group.id }}</td>
              <td> {{ group.name }}</td>
              <td> {{ group.specialization }}</td>
              <td> <a href="{% url 'groups:edit' group.id %}">EDIT</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>This teacher doesn't have any groups yet.</p>
{% endif %}

{% endblock %}