{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary" type="submit">Save</button>
    </form>
    <br>
   <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" formaction="{% url 'groups:delete' group.id %}" type="submit">Delete</button>
   </form>

    {% if group.students.all %}
    <h3>Students in this group</h3>
    {% with students_list=group.students.all %}
        {% include 'includes/students_table.html' %}
    {% endwith %}
    {% else %}
    <p>There are no students in this group</p>
    {% endif %}

    {% endblock %}